
@{
    ViewBag.Title = "Quên mật khẩu";
}

<section class="d-flex align-items-center p-4">
    <div class="container pt-5 p-5 rounded bg-white shadow" style="width: 73.7em">
        <div class="row d-flex align-items-center">
            <div class="col-7 d-none d-sm-block">
                <img src="https://t4.ftcdn.net/jpg/03/31/93/85/360_F_331938599_nmkc39B7E74s1G5P01b0YCJ6x0MNMqJz.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-sm-5 p-5 border-start border-secondary">
                <h3>Đặt lại mật khẩu</h3>
                <p>Nhập email của bạn để đặt lại mật khẩu</p>
                <div id="notification">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-danger col-sm-12 col-md-10 p-2" role="alert">
                            @TempData["Message"]
                        </div>
                    }
                </div>
                @using (Html.BeginForm("ActivateAccount", "User", FormMethod.Post))
                 {
                    <div class="mb-3 col-sm-12 col-md-10">
                        <input type="text" class="form-control" name="Email" placeholder="Nhập email của bạn" id="email">
                    </div>
                    <button type="submit" class="btn btn-primary col-sm-12 col-md-10" id="btnSubmit">Xác nhận</button>
                 }
            </div>
        </div>
    </div>
</section>
@section scripts
{
    <script>
        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            e.target.classList.add('disabled');
            e.target.innerText = 'Đang xử lí';
            $.ajax({
                type: "POST",
                url: '@Url.Action("ResetPassword", "User")',
                data: JSON.stringify({
                    email: $("#email").val()
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    const notification = document.querySelector("#notification");
                    if (data.status) {
                        notification.innerHTML = `<div class="alert alert-success col-sm-12 col-md-10 p-2" role="alert">`
                                + data.message +
                            `</div>`;
                    } else {
                        notification.innerHTML = `<div class="alert alert-danger col-sm-12 col-md-10 p-2" role="alert">`
                                + data.detail +
                            `</div>`;
                    }
                    e.target.classList.remove('disabled');
                    e.target.innerText = 'Xác nhận';
                },
            });
        });
    </script>

}