@model Models.DTO.Voucher

@{
    ViewBag.Title = "Index";
}
@section Styles {
    <link rel="stylesheet" href="~/public/css/Voucher.css">
}
<div class="container" style="max-width: 1040px;">
    <h1>Voucher</h1>
    <div class="row">
        <div class="card ">
            <section class="date">
                <time datetime="23/5">
                    <span>23</span><span>Feb</span>
                </time>
            </section>
            <section class="card-cont">
                <h6>
                    Số lượng voucher còn: 15</h5>
                    <h1>TheGioiDiDong</h1>
                    <div class="even-info">
                        <p>Đơn hàng Thời trang từ 50K</p>
                    </div>
                    <div class="even-date">
                        <p style="color: red ; margin-top: 10px; margin-bottom: 0px;"> Có hiệu lực sau: 1 ngày </p>
                    </div>
                    <a href="#" style="background-color: rgb(248, 192, 10);">Dùng Ngay</a>
            </section>
        </div>
        <div class="card">
            <section class="date">
                <time datetime="23/5">
                    <span>23</span><span>Feb</span>
                </time>
            </section>
            <section class="card-cont">
                <h6>
                    Số lượng voucher còn: 15</h5>
                    <h1>TheGioiDiDong</h1>
                    <div class="even-info">
                        <p>Đơn hàng Thời trang từ 50K</p>
                    </div>
                    <div class="even-date">
                        <p style="color: red ; margin-top: 10px; margin-bottom: 0px;"> Có hiệu lực sau: 1 ngày </p>
                    </div>
                    <a href="#" style="background-color: rgb(248, 192, 10);">Dùng Ngay</a>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="card fl-right">
            <section class="date">
                <time datetime="23/5">
                    <span>23</span><span>Feb</span>
                </time>
            </section>
            <section class="card-cont">
                <h6>
                    Số lượng voucher còn: 15</h5>
                    <h1>TheGioiDiDong</h1>
                    <div class="even-info">
                        <p>Đơn hàng Thời trang từ 50K</p>
                    </div>
                    <div class="even-date">
                        <p style="color: red ; margin-top: 10px; margin-bottom: 0px;"> Có hiệu lực sau: 1 ngày </p>
                    </div>
                    <a href="#" style="background-color: rgb(248, 192, 10);">Dùng Ngay</a>
            </section>
        </div>
        <div class="card fl-right">
            <section class="date">
                <time datetime="23/5">
                    <span>23</span><span>Feb</span>
                </time>
            </section>
            <section class="card-cont">
                <h6>
                    Số lượng voucher còn: 15</h5>
                    <h1>TheGioiDiDong</h1>
                    <div class="even-info">
                        <p>Đơn hàng Thời trang từ 50K</p>
                    </div>
                    <div class="even-date">
                        <p style="color: red ; margin-top: 10px; margin-bottom: 0px;"> Có hiệu lực sau: 1 ngày </p>
                    </div>
                    <a href="#" style="background-color: rgb(248, 192, 10);">Dùng Ngay</a>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="card fl-right">
            <section class="date">
                <time datetime="23/5">
                    <span>23</span><span>Feb</span>
                </time>
            </section>
            <section class="card-cont">
                <h6>
                    Số lượng voucher còn: 15</h5>
                    <h1>TheGioiDiDong</h1>
                    <div class="even-info">
                        <p>Đơn hàng Thời trang từ 50K</p>
                    </div>
                    <div class="even-date">
                        <p style="color: red ; margin-top: 10px; margin-bottom: 0px;"> Có hiệu lực sau: 1 ngày </p>
                    </div>
                    <a href="#" style="background-color: rgb(248, 192, 10);">Dùng Ngay</a>
            </section>
        </div>
        <div class="card fl-right">
            <section class="date">
                <time datetime="23/5">
                    <span>23</span><span>Feb</span>
                </time>
            </section>
            <section class="card-cont">
                <h6>
                    Số lượng voucher còn: 15</h5>
                    <h1>TheGioiDiDong</h1>
                    <div class="even-info">
                        <p>Đơn hàng Thời trang từ 50K</p>
                    </div>
                    <div class="even-date">
                        <p style="color: red ; margin-top: 10px; margin-bottom: 0px;"> Có hiệu lực sau: 1 ngày </p>
                    </div>
                    <a href="#" style="background-color: rgb(248, 192, 10);">Dùng Ngay</a>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="card fl-right">
            <section class="date">
                <time datetime="23/5">
                    <span>23</span><span>Feb</span>
                </time>
            </section>
            <section class="card-cont">
                <h6>
                    Số lượng voucher còn: 15</h5>
                    <h1>TheGioiDiDong</h1>
                    <div class="even-info">
                        <p>Đơn hàng Thời trang từ 50K</p>
                    </div>
                    <div class="even-date">
                        <p style="color: red ; margin-top: 10px; margin-bottom: 0px;"> Có hiệu lực sau: 1 ngày </p>
                    </div>
                    <a href="#" style="background-color: rgb(248, 192, 10);">Dùng Ngay</a>
            </section>
        </div>
        <div class="card fl-right">
            <section class="date">
                <time datetime="23/5">
                    <span>23</span><span>Feb</span>
                </time>
            </section>
            <section class="card-cont">
                <h6>
                    Số lượng voucher còn: 15</h5>
                    <h1>TheGioiDiDong</h1>
                    <div class="even-info">
                        <p>Đơn hàng Thời trang từ 50K</p>
                    </div>
                    <div class="even-date">
                        <p style="color: red ; margin-top: 10px; margin-bottom: 0px;"> Có hiệu lực sau: 1 ngày </p>
                    </div>
                    <a href="#" style="background-color: rgb(248, 192, 10);">Dùng Ngay</a>
            </section>
        </div>
    </div>
</div>
@section scripts{

}