
@{
    ViewBag.Title = "Error";
}

<div class="row m-0 d-flex flex-column align-items-center">
    <script src="@("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")"></script>
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_gjmecwii.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
    <h3 class="text-center mt-4">@ViewBag.Message</h3>
</div>